<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Book Review Platform</title>
    <!-- You can also add your CSS and JS links here -->
  </head>
  <body>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('user_profile') }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </nav>

    {% block content %}
    <!-- The content of child templates will be rendered here -->
    {% endblock %}
  </body>
</html>
