<!DOCTYPE html>
<html>
  <head>
    <title>Book Review Platform</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      {% if current_user.is_authenticated %} Welcome, {{ current_user.username
      }}!
      <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('login') }}">Login</a> |
      <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </header>

    <main>{% block content %}{% endblock %}</main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
