{% extends "layout.html" %} 

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css') }}"/>
{% endblock %}

{% block content %}
<form action="{{ url_for('login') }}" method="post">
  <div class="rectangle"></div>
  <label for="username">Username:</label>
  <input type="text" name="username" required />
  <label for="password">Password:</label>
  <input type="password" name="password" required />
  <button type="submit">Login</button>
</form>
{% endblock %}
